.nav-link {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:not(:first-child) {
    margin-left: 1em;
  }

  &:hover {
    color: orangered;
  }

  &--active {
    color: orangered;
  }

  @media screen and (min-width: 420px) {
    &:first-child {
      margin-right: 3em;
    }
  }
}
